ENVIORMENT FILE

In order to self-host this bot, you'll need to specify the bot's token and database credentials (or switch to SQLite).
Any other configuration is optional.

--------------------------------------------------START OF CONFIGURATION--------------------------------------------------
Discord Bot Token

TOKEN = 


Database Credentials (MySQL) 
If you don't have a MySQL server, navigate to core/database.py and switch from MySQLDatabase to SqliteDatabase, more details located there. 

IP = 
PORT = 
Username = 
Password = 
DatabaseName = 


GitHub Information
You can get these tokens at: https://github.com/settings/tokens/new

GIST = 
GITHUB = 

API Information

DSN_SENTRY = 

Name to sensor in tracebacks. (To prevent self-doxing)

Name = 

--------------------------------------------------END OF CONFIGURATION--------------------------------------------------
Once you have finished filling out everything, rename this to .env